
  <!--== Start Header Wrapper ==-->
  <header class="header-wrapper">
    <div class="header-top d-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="header-top-inner">
              <div class="header-top-action-area">
                <div class="header-lang-dropdown">
                  <button type="button" class="btn-lang dropdown-toggle" id="dropdownLang" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/img/photos/1.webp" alt="Image" width="16" height="11"> <span>English</span></button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li class="dropdown-item active"><img src="assets/img/photos/1.webp" alt="Image" width="16" height="11"> <span>English</span></li>
                    <li class="dropdown-item"><img src="assets/img/photos/2.webp" alt="Image" width="16" height="11"> <span>Français</span></li>
                  </ul>
                </div>
                <div class="header-currency-dropdown">
                  <button type="button" class="btn-currency dropdown-toggle" id="dropdownCurrency" data-bs-toggle="dropdown" aria-expanded="false"><span>USD $</span></button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                    <li class="dropdown-item active"><span>USD $</span></li>
                    <li class="dropdown-item"><span>EUR €</span></li>
                  </ul>
                </div>
              </div>
              <div class="header-top-info">
                <div class="info-mail">
                  <a href="mailto://Support@posthemes.com"> Support@posthemes.com </a>
                </div>
                <div class="header-action-dropdown-acc header-action-dropdown-toggle">
                  <span class="current-item">My Account</span>
                  <ul class="info-dropdown info-dropdown-toggle">
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                    <li><a href="login-register.html">Sign Out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle">
      <div class="header-resmobile d-block d-lg-none">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-3">
              <div class="header-action-area btn-action-menu">
                <button class="btn-menu d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithSideMenu" aria-controls="offcanvasWithSideMenu">
                  <i class="ion-navicon"></i>
                </button>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-6">
              <div class="header-logo-area">
                <a href="index.html">
                  <img class="logo-main" src="assets/img/logo.webp" alt="Logo" width="168" height="57"/>
                  <img class="logo-light" src="assets/img/logo.webp" alt="Logo" width="168" height="57"/>
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-3">
              <div class="header-middle-action-area">
                <div class="header-action-dropdown-acc header-action-dropdown-toggle">
                  <span class="current-item"><i class="icon-user"></i></span>
                  <ul class="info-dropdown info-dropdown-toggle">
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                    <li><a href="login-register.html">Sign Out</a></li>
                  </ul>
                </div>
                <div class="header-action-cart header-minicart">
                  <a class="btn-cart cart-icon" href="shop-cart.html">
                    <span class="cart-count">2</span>
                    <i class="icon-bag"></i>
                  </a>
                  <div class="header-minicart-content">
                    <div class="minicart-inner">
                      <div class="minicart-list">
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <img src="assets/img/shop/13.webp" alt="Image-HasTech" width="125" height="125">
                            <span>Wayfarer Messenger</span>
                            <span class="quantity-number">1x</span>
                          </a>
                          <p class="quantity-price">$40.90</p>
                          <p class="quantity-dimension">Dimension: 40x60cm</p>
                          <button class="minicart-remove" type="button">×</button>
                        </div>
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <img src="assets/img/shop/14.webp" alt="Image-HasTech" width="125" height="125">
                            <span>Beginner's Yoga1</span>
                            <span class="quantity-number">1x</span>
                          </a>
                          <p class="quantity-price">$44.10</p>
                          <p class="quantity-dimension">Dimension: 40x60cm</p>
                          <button class="minicart-remove" type="button">×</button>
                        </div>
                      </div>
                      <div class="minicart-total">
                        <div class="minicart-price">
                          <span>Subtotal</span>
                          <span class="total">$85.00</span>
                        </div>
                        <div class="minicart-price">
                          <span>Shipping</span>
                          <span class="total">$7.00</span>
                        </div>
                        <div class="minicart-price">
                          <span>Taxes</span>
                          <span class="total">$85.00</span>
                        </div>
                        <div class="minicart-price minicart-subtotal">
                          <span>Total</span>
                          <span class="total">$92.00</span>
                        </div>
                      </div>
                      <div class="minicart-buttons">
                        <a class="cart-button" href="shop-checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="header-search-box">
                <form action="#" method="post">
                  <div class="form-input-group">
                    <input type="text" id="search2" placeholder="Enter your search key ...">
                    <div class="categories-dropdown">
                      <select class="form-control select-dropdown">
                        <option selected="">All categories</option>
                        <option value="lan1">Vegetables</option>
                        <option value="lan2">Laura Mercier</option>
                        <option value="lan3">Bananas</option>
                        <option value="lan1">Apples & Pears</option>
                        <option value="lan2">Berries & Cherries</option>
                        <option value="lan3">Oranges & Citrus</option>
                      </select>
                    </div>
                    <button type="submit" class="btn-src">
                      <i class="icon-magnifier"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-none d-lg-block">
        <div class="row align-items-center">
          <div class="col-3">
            <div class="header-logo-area">
              <a href="index.html">
                <img class="logo-main" src="assets/img/logo.webp" alt="Logo" width="168" height="57"/>
                <img class="logo-light" src="assets/img/logo.webp" alt="Logo" width="168" height="57"/>
              </a>
            </div>
          </div>
          <div class="col-9">
            <div class="header-middle-right">
              <div class="header-search-box">
                <form action="#" method="post">
                  <div class="form-input-group">
                    <input type="text" id="search" placeholder="Enter your search key ...">
                    <div class="categories-dropdown">
                      <select class="form-control select-dropdown">
                        <option selected="">All categories</option>
                        <option value="lan1">Vegetables</option>
                        <option value="lan2">Laura Mercier</option>
                        <option value="lan3">Bananas</option>
                        <option value="lan1">Apples & Pears</option>
                        <option value="lan2">Berries & Cherries</option>
                        <option value="lan3">Oranges & Citrus</option>
                      </select>
                    </div>
                    <button type="submit" class="btn-src">
                      <i class="icon-magnifier"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="header-middle-action-area">
                <div class="header-action-btn-search">
                  <button class="btn-search btn-search-menu">
                    <i class="icon-magnifier"></i>
                  </button>
                </div>
                <div class="header-action-cart header-minicart">
                  <a class="btn-cart cart-icon" href="shop-cart.html">
                    <span class="cart-count">2</span>
                    <i class="icon-bag"></i>
                  </a>
                  <span class="cart-amount">$8.00</span>
                  <div class="header-minicart-content">
                    <div class="minicart-inner">
                      <div class="minicart-list">
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <span>Wayfarer Messenger</span>
                            <span class="quantity-number">1x</span>
                          </a>
                          <p class="quantity-price">$40.90</p>
                          <button class="minicart-remove" type="button">×</button>
                        </div>
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <span>Beginner's Yoga1</span>
                            <span class="quantity-number">1x</span>
                          </a>
                          <p class="quantity-price">$44.10</p>
                          <button class="minicart-remove" type="button">×</button>
                        </div>
                      </div>
                      <div class="minicart-total">
                        <div class="minicart-price minicart-subtotal">
                          <span>Total</span>
                          <span class="total">$92.00</span>
                        </div>
                      </div>
                      <div class="minicart-buttons">
                        <a class="cart-button" href="shop-checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-action-area">
                  <button class="btn-menu d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithSideMenu" aria-controls="offcanvasWithSideMenu">
                    <i class="icon-menu"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-area header-default sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-sm-5 col-md-4 col-lg-3">
            <div class="vertical-menu">
              <button class="menu-btn"><span>Browse Categories</span></button>
              <ul class="vmenu-content vmenu-content-none">
                <li class="menu-item">
                  <a class="menu-item-title" href="shop.html">Vegetables<i class="ion-ios-arrow-right"></i></a>
                  <ul class="verticale-mega-menu column-two flex-wrap megamenu-nav-banner">
                    <li>
                      <a class="title" href="shop.html"><strong>Laura Mercier</strong></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Bananas</a></li>
                        <li><a href="shop.html">Apples & Pears</a></li>
                        <li><a href="shop.html">Berries & Cherries</a></li>
                        <li><a href="shop.html">Oranges & Citrus Fruit</a></li>
                        <li><a href="shop.html">Grapes</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="title" href="shop.html"><span><strong>Nutrition</strong></span></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Potatoes</a></li>
                        <li><a href="shop.html">Sweet Potatoes</a></li>
                        <li><a href="shop.html">Onions & Leeks</a></li>
                        <li><a href="shop.html">Root Vegetables</a></li>
                        <li><a href="shop.html">Broccoli & Cauliflower</a></li>
                      </ul>
                    </li>
                    <li class="vmegamenu-banner-item"><a href="shop.html" class="vmegamenu-banner" data-bg-img="assets/img/photos/vc-bammer.webp"></a></li>
                  </ul>
                  <!-- sub menu -->
                </li>
                <li class="menu-item">
                  <a class="menu-item-title" href="shop.html">Fruits Juice<i class="ion-ios-arrow-right"></i></a>
                  <ul class="verticale-mega-menu column-two flex-wrap">
                    <li>
                      <a class="title" href="shop.html"><strong>Apple juice</strong></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Fresh Salad</a></li>
                        <li><a href="shop.html">Salad bags</a></li>
                        <li><a href="shop.html">Celery</a></li>
                        <li><a href="shop.html">Peppers</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="title" href="shop.html"><span><strong>Orange Juice</strong></span></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Milk</a></li>
                        <li><a href="shop.html">Square Beds</a></li>
                        <li><a href="shop.html">Flat sandals</a></li>
                        <li><a href="shop.html">Round Beds</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Fish & Seafood</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Fresh Meat</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Milk</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Oil & Vinegars</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Jam & Honey</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Bread</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Fruit Beams</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Tree planting</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Orange Jelly</a></li>
              </ul>
              <!-- menu content -->
            </div>
          </div>
          <div class="col-lg-7 d-none d-lg-block">
            <div class="header-navigation-area">
              <ul class="main-menu nav position-relative">
                <li class="has-submenu"><a href="index.html">Home</a>
                  <ul class="submenu-nav">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-2.html">Home Two</a></li>
                    <li><a href="index-3.html">Home Three</a></li>
                    <li><a href="index-4.html">Home Four</a></li>
                  </ul>
                </li>
                <li class="has-submenu position-static"><a href="#/"><span>Shop</span></a>
                  <ul class="submenu-nav submenu-nav-mega submenu-nav-banner">
                    <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop Layouts</span></a>
                      <ul>
                        <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                        <li><a href="shop.html">Shop 4 Column</a></li>
                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                        <li><a href="shop.html">Shop No Sidebar</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop Pages</span></a>
                      <ul>
                        <li><a href="shop-cart.html">Cart page</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                        <li><a href="my-account.html">My Account</a></li>
                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                        <li><a href="shop-compare.html">Compare</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Product Types</span></a>
                      <ul>
                        <li><a href="shop-single-product.html">Product Details</a></li>
                        <li><a href="shop-single-product-variable.html">Product Variable</a></li>
                        <li><a href="shop-single-product-grouped.html">Product Grouped</a></li>
                      </ul>
                    </li>
                    <li class="megamenu-banner-item"><a href="shop.html" class="megamenu-banner" data-bg-img="assets/img/photos/megamenu-banner.webp"></a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-7 col-md-8 col-lg-2">
            <div class="header-action-main-area">
              <div class="header-action-btn-search">
                <button class="btn-search btn-search-menu">
                  <i class="icon-magnifier"></i>
                </button>
              </div>
              <div class="header-action-cart header-minicart">
                <a class="btn-cart cart-icon" href="shop-cart.html">
                  <span class="cart-count">2</span>
                  <i class="icon-bag"></i>
                </a>
                <span class="cart-amount">$8.00</span>
                <div class="header-minicart-content">
                  <div class="minicart-inner">
                    <div class="minicart-list">
                      <div class="minicart-item">
                        <a class="thumb" href="single-product.html">
                          <img src="assets/img/shop/13.webp" alt="Image-HasTech" width="125" height="125">
                          <span>Wayfarer Messenger</span>
                          <span class="quantity-number">1x</span>
                        </a>
                        <p class="quantity-price">$40.90</p>
                        <p class="quantity-dimension">Dimension: 40x60cm</p>
                        <button class="minicart-remove" type="button">×</button>
                      </div>
                      <div class="minicart-item">
                        <a class="thumb" href="single-product.html">
                          <img src="assets/img/shop/14.webp" alt="Image-HasTech" width="125" height="125">
                          <span>Beginner's Yoga1</span>
                          <span class="quantity-number">1x</span>
                        </a>
                        <p class="quantity-price">$44.10</p>
                        <p class="quantity-dimension">Dimension: 40x60cm</p>
                        <button class="minicart-remove" type="button">×</button>
                      </div>
                    </div>
                    <div class="minicart-total">
                      <div class="minicart-price minicart-subtotal">
                        <span>Total</span>
                        <span class="total">$92.00</span>
                      </div>
                    </div>
                    <div class="minicart-buttons">
                      <a class="cart-button" href="shop-checkout.html">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-action-area">
                <button class="btn-menu d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithSideMenu" aria-controls="offcanvasWithSideMenu">
                  <i class="icon-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->